@page "/fetchdata"

<PageTitle>Weather Site</PageTitle>

@using GurleyHealthSite.Data
@inject SiteService SiteService

<h1>Weather Site</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (Sites == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>URL</th>
                <th>Status</th>
                <th>Code</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var site in Sites)
            {
                <tr>
                    <td>@site.URL</td>
                    <td>@site.Status</td>
                    <td>@site.Code</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Site[]? Sites;

    protected override async Task OnInitializedAsync()
    {
        Sites = SiteService.GetSites();
    }
}
